@font-face {
    font-family: 'Andy Bold';
    src: local('ANDYB'), url(../assets/ANDYB.TTF) format('truetype');
  }

.logo {
  max-width: 200px;
}

.motto {
  font-family: 'Andy Bold', Arial, serif;
}

.header {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 60px;
  font-size: 24px;
  text-align: center;
  width: max-content;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: #00bfff;
}

h1, h2 {
  margin: 0;
}

header > * {
  margin: 14px 28px;
}