.cartContainer {
    margin: 14px 28px;
    /* color: #00bfff; */
}

.cartH3 {
    margin: 20px 0;
}

/* .pokemonCartContainer {
    max-width: 70%;
} */

.cartAndPay {
    display: grid;
    grid-template-columns: 80% 20%;
}

.payButton {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bolder;
    margin: 10px;
}

.payOptions {
    font-size: 25px;
    /* font-weight: bolder; */
}

.cartCouponInput {
    width: 60%;
    min-width: 70px;
}