.gif, .icon {
    image-rendering: pixelated;
    min-width: 100%;
}

.imgContainer {
    min-width: 30%;
}

.container {
    margin: 14px 28px;
    /* background-color: #FFD700;; */
}

.imgListContainer{
    display: flex;
    flex-wrap: wrap;
}

h3 {
    margin: 0;
    font-size: 26px;
    /* color: #00bfff; */
}