.container {
    margin: 14px 28px;
    /* color: #00bfff; */
}

.cardsContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* h3 {
    font-size: 40px;
    font-weight: 700;
} */

.shopH3 {
    margin: 20px 0;
}